body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

nav {
  background-color: #111;
  padding: 16px;
}

nav h1 {
  color: white;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
  padding: 0;
}

nav a {
  color: #61dafb;
  text-decoration: none;
}

.container {
  padding: 24px;
}

.card {
  background-color: white;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 6px;
  width: 200px;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
